<script type="text/template">
    <form id="login_form">
        <fieldset>
            <legend>Connexion</legend>

            <div class="row">
                <div class="large-12 columns" id="alerts-container">
                </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label>Email</label>
                <input type="text" name="email">
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label>Password</label>
                <input type="password" name="password">
              </div>
            </div>

            <div class="row">
                <input type="submit" class="small button right connection_button" value="Se connecter" />
            </div>
        </fieldset>
    </form>
</script>